<% if @expense.errors.any? %>
	$('.errors').remove();
	$('.container-fluid').prepend("<%= j (render 'errors') %>");
<% else %>
	$('.fixed').remove();
	$('.index').html("<%= j (render 'index') %>");
	$('tbody').html("<%= j (render 'updatedform') %>");
	$('#exampleModal').modal('hide');
	$('#bs-example-navbar-collapse-1').append('<div class="fixed alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a><%= flash[:success]%></div>');
	$('.fixed').slideDown(400);
<% end %>